---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/vue">Vue</a></li>
      <li><a href="/react">React</a></li>
    </ul>
  </nav>
  <Welcome />
</Layout>
