---
import HelloVue from '../components/HelloVue.vue';
---

<html lang="en">
  <head>
    <title>Astro + Vue</title>
  </head>
  <body>
    <h1>Welcome to My Astro Blog with Vue</h1>
    <HelloVue client:load />
  </body>
</html>
